@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}

.services {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.services-list {
  display: flex;

  &__item {
    position: relative;

    width: 370px;
    height: 294px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__item-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px 80px;

    color: var(--contrast-color);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
