.social-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    /* width: 20px;
    height: 20px; */
    fill: var(--noactive-link-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-icon-list__link:hover &,
    .social-icon-list__link:focus & {
      fill: var(--contrast-color);
    }
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }

    .social-icon-list__item:not(:last-child) & {
      margin-right: 10px;
    }
  }
}
