.container {
  padding-left: 15px;
  padding-right: 15px;
  //background-color: rgba($color: #50f581, $alpha: 0.4);
  margin: 0 auto;

  .main-header & {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
